# Base Style
BasedOnStyle: LLVM

# Indentation and Tabs
IndentWidth: 4
UseTab: Never

# Line Breaks and Wrapping
ColumnLimit: 90
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None

# Vertical Spacing
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1

# Pointers and References
PointerAlignment: Left

# Aligning definitions
AlignConsecutiveMacros: true
