body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  color: #fff;
  background: #1e1e1e;
}

/* header and footer areas */
.menu {
  padding: 0;
  margin-bottom: 20px;
}

.menu li {
  display: inline-block;
}

header h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

header h2 a,
header span a {
  text-decoration: none;
}

header span {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 1.5rem;
}

a {
  color: #6ee3ff;
}

a:hover {
  color: #52c6ff;
}

a:visited {
  color: #ffb6ff;
}

a:visited:hover {
  color: #e092e0;
}

.article-meta,
.menu a {
  text-decoration: none;
  background: #2c2c2c;
  padding: 10px;
}

.menu a {
  margin: 5px;
}

.tags a {
  text-decoration: none;
}

.menu,
.article-meta,
footer {
  text-align: center;
}

.title {
  font-size: 2.5rem;
}

footer a {
  text-decoration: none;
}

hr {
  border-style: dashed;
  color: #ddd;
}

.post-navigation {
  display: flex;
  justify-content: space-between;
}

.post-navigation a {
  flex: 1;
  text-decoration: none;
  padding: 1em 0;
}

.prev-article {
  text-align: left;
}

.next-article {
  text-align: right;
}

/* code */
pre {
  border: 1px solid #ddd;
  padding: 1em;
  overflow-x: auto;
  background-color: #131313 !important;
}

code {
  background: #000;
}

pre code {
  background: none;
}

/* misc elements */
.content h2 {
  font-size: 2.5rem;
}

.content h3 {
  font-size: 1.8rem;
}

.content h4 {
  font-size: 1.3rem;
}

img,
iframe,
video {
  max-width: 100%;
  margin: auto;
  display: block;
}

figure {
  text-align: center;
  margin: 1em 0;
  color: #ddd;
}

figcaption {
  font-size: 0.9rem;
  margin-top: 0.5em;
}

main {
  hyphens: auto;
}

blockquote {
  background: #292929;
  border-left: 5px solid #444;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  overflow-x: auto;
}

table thead th {
  border-bottom: 1px solid #666;
}

th,
td {
  padding: 5px;
  border-bottom: 1px solid #666;
}

thead,
tfoot {
  background: #353535;
}

.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

/* Table of Contents */
.toc {
  border-left: 4px solid #ccc;
  padding-left: 1em;
  margin-bottom: 2em;
  background: #f8f8f8;
  padding: 10px;
  max-width: 300px;
}

.toc h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}