<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    {{- $style := resources.Get "css/style.css" | resources.Minify }}
    {{- $fonts := resources.Get "css/fonts.css" | resources.Minify }}

    {{- if $style }}
    <style>{{ $style.Content | safeCSS }}</style>
    {{- end }}

    {{- if $fonts }}
    <style>{{ $fonts.Content | safeCSS }}</style>
    {{- end }}

  </head>

  <body>
    <nav>
      <ul class="menu">
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
      <hr/>
    </nav>
