body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  color: #fff;
  background: #1e1e1e;
}

/* header and footer areas */
.menu {
  padding: 0;
}

.menu li {
  display: inline-block;
}

a {
  color: #6ee3ff;
}

a:hover {
  color: #52c6ff;
}

a:visited {
  color: #ffb6ff;
}

a:visited:hover {
  color: #e092e0;
}

.article-meta,
.menu a {
  text-decoration: none;
  background: #2c2c2c;
  padding: 10px;
}

.menu a {
  margin: 5px;
}

.menu,
.article-meta,
footer {
  text-align: center;
}

.title {
  font-size: 1.1em;
}

footer a {
  text-decoration: none;
}

hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  padding: 1em;
  overflow-x: auto;
}

code {
  background: #000;
  /* padding: .1em .2em; */
}

pre code {
  background: none;
}

/* misc elements */
img,
iframe,
video {
  max-width: 100%;
  margin: auto;
  display: block;
}

main {
  hyphens: auto;
}

blockquote {
  background: #292929;
  border-left: 5px solid #444;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  overflow-x: auto;
}

table thead th {
  border-bottom: 1px solid #666;
}

th,
td {
  padding: 5px;
  border-bottom: 1px solid #666;
}

thead,
tfoot {
  background: #353535;
}