body {
  font-family: "Liberation Sans", "DejaVu Sans", "Noto Sans", "FreeSans", sans-serif;
}

code {
  font-family: "Liberation Mono", "DejaVu Sans Mono", "Noto Mono", "FreeMono", monospace;
  font-size: 85%;
}